{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% set _is_rtl = app.request.getLocale() in ['ar', 'arc', 'bcc', 'bqi', 'ckb', 'dv', 'fa', 'glk', 'he', 'ku', 'mzn', 'pnb', 'ps', 'sd', 'ug', 'ur', 'yi'] %}

{% set stylesheets = _is_rtl ? sonata_custom.assets.stylesheets_rtl  : admin_pool.getOption('stylesheets', []) %}

{% block stylesheets %}
        {% for stylesheet in stylesheets %}
            <link rel="stylesheet" href="{{ asset(stylesheet) }}">
        {% endfor %}
{% endblock %}
        {% block body_attributes -%}
            class="sonata-bc skin-black fixed
                {% if app.request.cookies.get('sonata_sidebar_hide') -%}
                    sidebar-collapse
                {%- endif -%}"
        {%- endblock -%}

{% block sonata_header %}
    <header class="main-header">
        {% block sonata_header_noscript_warning %}
            <noscript>
                <div class="noscript-warning">
                    {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                </div>
            </noscript>
        {% endblock %}
        {% block logo %}
            {% apply spaceless %}
                <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                    {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                        <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
                    {% endif %}
                    {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                        <span>{{ sonata_admin.adminPool.title }}</span>
                    {% endif %}
                </a>
            {% endapply %}
        {% endblock %}
        {% block sonata_nav %}
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
                   role="button" title="{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}">
                    <span class="sr-only">{{ 'toggle_navigation'|trans({}, 'SonataAdminBundle') }}</span>
                </a>

                <div class="navbar-{{ _is_rtl ? 'right' : 'left' }}">
                    {% block sonata_breadcrumb %}
                        <div class="hidden-xs">
                            {% if _breadcrumb is not empty or action is defined %}
                                <ol class="nav navbar-top-links breadcrumb">
                                    {% if _breadcrumb is empty %}
                                        {% if action is defined %}
                                            {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                                {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                                {%- set label = menu.label -%}
                                                {%- if translation_domain is not same as(false) -%}
                                                    {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                                {%- endif -%}

                                                {% if not loop.last %}
                                                    <li>
                                                        {% if menu.uri is not empty %}
                                                            <a href="{{ menu.uri }}">
                                                                {% if menu.extra('safe_label', true) %}
                                                                    {{- label|raw -}}
                                                                {% else %}
                                                                    {{- label|truncate(100) -}}
                                                                {% endif %}
                                                            </a>
                                                        {% else %}
                                                            <span>{{ label|truncate(100) }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="active"><span>{{ label|truncate(100) }}</span></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {{ _breadcrumb|raw }}
                                    {% endif %}
                                </ol>
                            {% endif %}
                        </div>
                    {% endblock sonata_breadcrumb %}
                </div>

                {% block sonata_top_nav_menu %}
                    {% if app.user and is_granted(sonata_admin.adminPool.getOption('role_admin')) %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                {% block sonata_top_nav_menu_add_block %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        {% include get_global_template('add_block') %}
                                    </li>
                                {% endblock %}
                                {% block sonata_top_nav_menu_user_block %}
                                    <li class="dropdown user-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            {% include get_global_template('user_block') %}
                                        </ul>
                                    </li>
                                {% endblock %}
                            </ul>
                        </div>
                    {% endif %}
                {% endblock %}
            </nav>
        {% endblock sonata_nav %}
    </header>
{% endblock sonata_header %}

{% block side_bar_after_nav_content %}
        <div style="padding:10px;">

            {% if app.user.avatar != null %}

                {% media app.user.avatar, 'reference' with {'class': 'img-responsive img-rounded photoProfil', 'alt': 'Avatar'} %}
            {% else %}
                <span>No picture</span>
            {% endif %}


            <center style="color: #b8c7ce; font-size: 100%; font-weight: bold;">
                {{ app.user.firstname ~ ' ' ~ app.user.lastname }}
            </center>
            <br />
            <center style="color: #b8c7ce; font-size: 100%;"><b>Tél. : </b>{{ app.user.phone }}</center>
            <center style="color: #b8c7ce; font-size: 100%;"><b>Email : </b>{{ app.user.email }}</center>
            <hr />
        </div>

{% endblock %}




