

{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">
                </h4>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.subject) }}
                        </div>
                        <div class="col" id="some-custom-id">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
